/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
    background-color: #f0f8ff;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

section {
    height: 100%;
}

/* Hero Section */
.hero {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}

.hero img.top-decoration {
    width: 100%;
    height: auto;
    margin-bottom: -85%;
}

.hero img.center-image {
    width: 100%;
    max-width: 70%;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

.hero .text {
    margin-top: 20px;
}

.hero h1, .hero h2, .hero h3 {
    margin: 10px 0;
}

.hero h3 {
    margin-bottom: 20px;
}

.hero .button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 25px;
}

/* Sakura Effect */
.sakura-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
}

.sakura {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.8;
    border-radius: 50%;
    animation: fall linear infinite;
}

.flower1 {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.flower2 {
    clip-path: polygon(50% 0%, 61% 20%, 98% 20%, 68% 40%, 79% 70%, 50% 60%, 21% 70%, 32% 40%, 2% 20%, 39% 20%);
}

.flower3 {
    clip-path: polygon(50% 0%, 55% 25%, 85% 30%, 65% 55%, 75% 80%, 50% 65%, 25% 80%, 35% 55%, 15% 30%, 45% 25%);
}

.flower4 {
    clip-path: polygon(50% 0%, 58% 22%, 95% 25%, 68% 45%, 78% 78%, 50% 65%, 22% 78%, 32% 45%, 5% 25%, 42% 22%);
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}

/* Timer Section */
.timer-section {
    text-align: center;
    min-height: 300px;
    background-color: #ffffff;
    padding: 40px 20px;
    border-bottom: 1px solid #ddd;
}

.timer-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue;
}

.timer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.timer div span {
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.timer-section button {
    border: none;
    font-family: "Sofia", sans-serif;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    text-align: center;
    background-color: #ff1493;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.timer-section button:hover {
    background-color: #54032e;
}

/* Info Section */
.info-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 20px;
}

.info-section img {
    max-width: 45%;
    height: auto;
    margin-left: 50px;
}

.info-section iframe {		
max-width: 50%;
height: 100%;
min-height: 450px; /* or any suitable value */
border: none;
margin-right: 60px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.music-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.music-control:hover {
    background-color: #989898;
}

.fa-play {
    color: #000000; /* Green color for play */
}

.fa-pause {
    color: #f44336; /* Red color for pause */
}

/*Contact section*/
#contact{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background-color: #ffffff;
}

#contact .contactForm {
    width: 60%;
    max-width: 500px;
    min-height: 500px;
    padding: 20px 40px;
    border: 2px solid #000000;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#contact .contactForm h2{
    font-size: 30px;
    font-weight: 500;
    color: #333;
    padding: 20px 0;
    text-align: center;
}
#contact .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
#contact .contactForm .inputBox input,
#contact .contactForm .inputBox textarea{  
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    resize: none;
}
#contact .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
#contact .contactForm .inputBox input:focus~span,
#contact .contactForm .inputBox input:valid~span,
#contact .contactForm .inputBox textarea:focus~span,
#contact .contactForm .inputBox textarea:valid~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
#contact .contactForm .inputBox button{
    width: 100%;
    background: #2f2f2f;
    color: aliceblue;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    font-family: "Sofia", sans-serif;
}
#contact .contactForm .inputBox button:hover{
    background: #000000 ;
    color: #E60023;
}
#contact .contactForm .inputBox {
    position: relative;
}
  
#contact .contactForm select {
    width: 100%;
    padding: 10px 30px 10px 10px; /* Add padding to make space for the arrow */
    font-size: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    font-family: "Sofia", sans-serif;
    border-bottom: 2px solid #333;
    background: transparent;
    appearance: none; /* Removes default styling */
}
  
/* Add the arrow */
.select-option::after {
    content: '\f078'; /* Font Awesome down arrow */
    font-family: 'Font Awesome 5 Free'; /* Font Awesome font */
    font-weight: 900; /* Font Awesome font weight for solid icons */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none; /* Allows clicking the select box */
}
    
@media (max-width: 992px) {
    #contact .container {
      flex-direction: column;
      align-items: center;
    }
    #contact .contactForm{
      margin: auto;
      max-width: 80%;
      border-radius: 30px;
    }
}
#contact h2,
#contact .contactForm {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 1.5s ease;
}
#contact h2.h2-active,
#contact .contactForm.contactForm-active {
    opacity: 1;
    transform: translateY(0);
}
#contact p.p-active {
    opacity: 1;
    transform: translateY(0);
}
#contact p {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s ease, transform 3s ease;
}
  /* End of contact*/

.hero .greetings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.hero .greetings h1{
    font-size: 25px;
}

.hero .greetings .middle {
    margin-top: -10px;
    margin-bottom: 60px;
}

.hero .greetings .left {
    text-align: left;
    margin-left: 120px;
    margin-top: -40px;
}

.hero .greetings .right {
    text-align: right;
    margin-right: 120px;
    margin-top: -30px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .hero .greetings {
        font-size: 12px; /* Adjust font size for mobile view */
        flex-direction: row; /* Stack items vertically on mobile */
        text-align: center; /* Center-align text */
        margin: 10px; /* Adjust margin for mobile view */
    }

    .hero .greetings h1{
        font-size: 15px;
    }

    .hero .greetings .left,
    .hero .greetings .right {
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px; /* Adjust margin for vertical spacing */
    }

    .hero .greetings .left{
        margin-top: -20px;
        margin-left: 20px;
    }

    .hero .greetings .right{
        margin-right: 20px;
    }

    .hero .greetings .middle {
        margin-top: 0;
        margin-bottom: 20px; /* Adjust margin for mobile view */
    }
}

@media (min-width: 768px) {
    .hero .greetings {
        font-size: 20px; /* Adjust font size for tablet view */
        flex-direction: row; /* Keep items in a row on tablet view */
        text-align: center; /* Center-align text for consistency */
    }

    .hero .greetings .left,
    .hero .greetings .right {
        margin-left: 60px; /* Adjust margin for tablet view */
        margin-right: 60px; /* Adjust margin for tablet view */
    }

    .hero .greetings .middle {
        margin-top: -30px; /* Adjust margin for tablet view */
        margin-bottom: 30px; /* Adjust margin for tablet view */
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero img.center-image {
        max-width: 90%;
    }

    .hero .text h1, .hero .text h2, .hero .text h3 {
        font-size: 1.5em;
    }

    .timer {
        flex-direction: row;
        font-size: 1.2em;
    }

    .info-section {
        flex-direction: column;
    }

    .info-image{
        margin-right: 40px;
        min-width: 100%;
        min-height: 300px;
    }

    .info-section iframe {
        height: 250px;
        min-width: 90%;
        margin: 20px 30px;
    }
}

@media (min-width: 768px) {
    .info-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .info-image {
        max-width: 45%;
        margin-bottom: 0;
    }

    .info-section iframe {
        max-width: 50%;
        height: auto;
    }
}

