body {
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Loading page styles */
.loading-page {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading-container {
    text-align: center;
}

.progress-bar {
    width: 300px;
    height: 20px;
    background-color: #555;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    background-color: blue;
    border-radius: 10px;
}

/* Invitation page styles */
.invitation-container {
    text-align: center;
}

h1, h2, h3, p {
    margin: 10px 0;
}

.image-container {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.invitation-container a{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

.button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-top: 20px;
    font-family: "Sofia", sans-serif;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
}

.invitation-button:hover {
    background-color: #e67e22;
}
/* End Of Code For Starting Page */

